// space-station
.space-station {
    font-family: "Source Sans Pro", sans-serif;
    color: #c5c5dd;
    background-color: #6E6B9D;
}

.bg-space-station {
    font-family: "Source Sans Pro", sans-serif;
    color: #6E6B9D;
    background-color: #3A395B;
}

.accent-space-station {
    font-family: "Source Sans Pro", sans-serif;
    color: #60EFB3;
    background-color: #6E6B9D;
}