// space-station
.space-station {
    font-family: "Source Sans Pro", sans-serif;
    color: #c5c5dd;
    background-color: #6E6B9D;
    opacity: 1.0;
}

.bg-space-station {
    font-family: "Source Sans Pro", sans-serif;
    color: #c5c5dd;
    background-color: #3A395B;
    opacity: 1.0;
}

.el-space-station {
  font-family: "Source Sans Pro", sans-serif;
  color: #3A395B;
  background-color: #c5c5dd;
  opacity: 1.0;
}

.accent-space-station {
    font-family: "Source Sans Pro", sans-serif;
    color: #60EFB3;
    background-color: #6E6B9D;
}

/****************************/
// Transitions
/****************************/
.fadein-enter-active {
  transition: opacity 0.15s ease-in;
}

.fadein-enter-from {
  opacity: 0;
}