// space-station
.space-station {
  font-family: "Source Sans Pro", sans-serif;
  color: $secondary;
  background-color: $primary;
  opacity: 1.0;
}

.bg-space-station {
  font-family: "Source Sans Pro", sans-serif;
  color: $secondary;
  background-color: $dark;
  opacity: 1.0;
}

.el-space-station {
  font-family: "Source Sans Pro", sans-serif;
  color: $dark;
  background-color: $secondary;
  opacity: 1.0;
}

.accent-space-station {
  font-family: "Source Sans Pro", sans-serif;
  color: $accent;
  background-color: $primary;
}

/****************************/
// Transitions
/****************************/
.fadein-enter-active {
  transition: opacity 0.15s ease-in;
}

.fadein-enter-from {
  opacity: 0;
}

.form-btn {
  width: 40%;
}

.cursive {
  font-style: italic;
}
