/* styles.css */
:root {
  --font-family: "Source Sans Pro", sans-serif;
  --primary-color: #6E6B9D;
  --secondary-color: #C7C4F7;
  --accent-color: #60EFB3;
  --dark-color: #3A395B;
  --light-color: #c5c5dd;
  --positive-color: #60EFB3;
  --negative-color: #EF60CB;
  --info-color: #31CCEC;
  --warning-color: #ffd45d;
}

.theme-space-station {
  --font-family: "Source Sans Pro", sans-serif;
  --primary-color: #6E6B9D;
  --secondary-color: #C7C4F7;
  --accent-color: #60EFB3;
  --dark-color: #3A395B;
  --light-color: #c5c5dd;
  --positive-color: #60EFB3;
  --negative-color: #EF60CB;
  --info-color: #31CCEC;
  --warning-color: #ffd45d;
}

.theme-light {
  --font-family: "Source Sans Pro", sans-serif;
  --primary-color: #ffffff;
  --secondary-color: #888888;
  --accent-color: #000000;
  --dark-color: #d9d9d9;
  --light-color: #787777;
  --positive-color: #b2b2b2;
  --negative-color: #b2b2b2;
  --info-color: #31CCEC;
  --warning-color: #ffd45d;
}
